# Introduction

TODO - intro

# Importing the Dataset

TODO - describe dataset and the import process

In [1]:
import pandas as pd

In [5]:
data_set_path = "../res/Emotions.csv"
testing_set_path = "../res/Testingdata.csv"
dataset = pd.read_csv(data_set_path, header=0, sep=",", names=["Statement", "Emotion"], encoding='cp1252')
testset = pd.read_csv(testing_set_path, header=0, sep=",", names=["Statement", "Emotion"], encoding='cp1252')

In [11]:
dataset.head()

                                           Statement Emotion
0  How the fu*k! Who the heck! moved my fridge!.....   anger
1  So my Indian Uber driver just called someone t...   anger
2  I asked for my parcel to be delivered to a pic...   anger
3  so ef whichever butt wipe pulled the fire alar...   anger
4  Don't join they put the phone down on you, tal...   anger

In [12]:
dataset.describe()

                                                Statement Emotion
count                                                2827    2827
unique                                               2772       3
top     Watch this amazing live.ly broadcast by #livel...    fear
freq                                                   26    1147

# Preprocessing

TODO - briefly describe overall preprocessing

## Steaming

TODO - describe steaming process

In [4]:
steaming code

## Lemmatization

TODO - describe lemmatization process

In [13]:
lemmatization code

SyntaxError: invalid syntax (<ipython-input-13-2e1c72876f09>, line 1)